<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-module2</id>
    <name>错误的JS模块</name>
    <file>tshop-um-module2.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">错误的JS模块，JS文本内容错误</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190,550,750,950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
